html {
    min-width: 360px;
    grid-template-areas: "main" "header" "footer";
}
header {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "twodlogo menu-button" "nav nav";
    height: auto;
}
#nav {
    grid-area: nav;
    display: none;
}
.menu-button {
    grid-area: menu-button;
    text-align: right;
    margin-bottom: 1vh;
}
#menu-button {
    padding: 0;
    background: none;
    border: none;
    color: inherit;
    outline: none;
}
.header-desktop {
    display: none;
}
.twodlogo a img {
    height: 44px;
}
main,
footer {
    margin-left: 2em;
    margin-right: 2em;
}
.hmpg-title {
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "hmpg-title-text" "hmpg-title-description";
    padding-bottom: 2em;
    margin-top: 2em;
}
.hmpg-title-description h3 {
    font-size: 2.5em;
}
.about-main {
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
        "about-title"
        "about-intro-video"
        "idea-image"
        "idea-summary"
        "restructuring-image"
        "restructuring-summary"
        "mission-statement"
        "mission-image"
        "programs-description"
        "online-description"
        "in-person-description";
}
.executive-list {
    grid-template-columns: 1fr;
    grid-template-areas: "ceo-pic" "ceo-bio" "cfo-pic" "cfo-bio" "cmo-pic" "cmo-bio" "advisor-pic" "advisor-bio";
}
.updates-main {
    grid-template-columns: 1fr;
    grid-template-areas:
        "updates-header"
        "updates-nav-bar"
        "posts";
}
.updates-post {
    grid-template-columns: 1fr;
    grid-template-areas: "updates-title" "updates-image";
}
.contact-main {
    grid-template-columns: 1fr;
    grid-template-areas: "contact-title" "contact-image" "contact-executive" "contact-additional-info";
}
.chapters-main {
    margin-right: 1em;
    margin-left: 1em;
}
.chapters-header,
.chapters-map,
.chapters-list,
.add-chapter {
    margin-right: 1em;
    margin-left: 1em;
}
.apply-chapter-officer {
    grid-area: apply-chapter-officer;
    border-top: 0.05em solid black;
}
.start-chapter-header img {
    width: 100%;
}
.location-header h1 {
    margin-top: 0.67em;
}
.resources-main {
    grid-template-columns: 1fr;
    grid-template-areas:
        "resources-header"
        "resources-nav-bar"
        "resources-videos-list";
}
.resource-video {
    grid-template-columns: 1fr;
}
.video-left,
.video-right {
    grid-template-areas: "workshop-video" "workshop-resources";
}
.officers-list {
    grid-template-columns: 1fr;
    grid-template-areas: "president-pic" "president-bio" "vp-pic" "vp-bio" "secretary-pic" "secretary-bio" "media-manager-pic" "media-manager-bio" "outreach-manager-pic" "outreach-manager-bio";
}
