html {
    min-width: 360px;
    grid-template-areas: "main" "header" "footer";
}
header {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "twodlogo menu-button" "nav nav";
    height: auto;
}
#nav {
    grid-area: nav;
    display: none;
}
.menu-button {
    grid-area: menu-button;
    text-align: right;
    margin-bottom: 1vh;
}
#menu-button {
    padding: 0;
    background: none;
    border: none;
    color: inherit;
    outline: none;
}
.header-desktop {
    display: none;
}
.twodlogo a img {
    height: 44px;
}
main {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.hmpg-main {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "hmpg-title"
    "hmpg-about-image" "hmpg-idea-summary"
    "hmpg-vision-image" "hmpg-vision-summary"
    "hmpg-explore"
    "hmpg-chapters-title" "hmpg-chapters-image" "hmpg-chapters-summary"
    "hmpg-updates-title" "hmpg-updates-image" "hmpg-updates-summary"
    "hmpg-partners-title" "hmpg-partners-image" "hmpg-partners-summary";
}
.hmpg-title h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.hmpg-idea-summary, .hmpg-vision-summary, .hmpg-idea-summary p, .hmpg-vision-summary p {
    text-align: center;
}
.about-main {
    grid-template-columns: 1fr;
    grid-template-areas:
    "about-title"
    "about-intro-video"
    "idea-image"
    "idea-summary"
    "restructuring-image"
    "restructuring-summary"
    "mission-statement"
    "mission-image"
    "programs-description"
    "online-description"
    "in-person-description";
}
.executive-list {
    grid-template-columns: 1fr;
    grid-template-areas: "ceo-pic" "ceo-bio" "cfo-pic" "cfo-bio" "coo-pic" "coo-bio" "cmo-pic" "cmo-bio" "cpo-pic" "cpo-bio" "advisor-pic" "advisor-bio";
}
.updates-main {
    grid-template-columns: 1fr;
    grid-template-areas: "updates-header"
    "updates-nav-bar"
    "posts";
}
.updates-post {
    grid-template-columns: 1fr;
    grid-template-areas: "updates-title" "updates-image";
}
.contact-main {
    grid-template-columns: 1fr;
    grid-template-areas: "contact-title" "contact-image" "contact-executive" "contact-chapters" "contact-additional-info";
}
.location-header h1 {
    margin-top: 0.67em;
}
.resources-main {
    grid-template-columns: 1fr;
    grid-template-areas: "resources-header"
    "resources-nav-bar"
    "resources-videos-list";
}
.resource-video {
    grid-template-columns: 1fr;
}
.video-left, .video-right {
    grid-template-areas: "workshop-video" "workshop-resources";
}